.DS_Store
scenekit-example.xcodeproj/project.xcworkspace/xcuserdata
scenekit-example.xcodeproj/project.xcworkspace/xcshareddata
scenekit-example.xcodeproj/project.xcworkspace
scenekit-example.xcodeproj/xcuserdata
scenekit-example/video_music.mp4
